body {
    background-color: #e0e0e2;
}

h1,
h2 {
    color: #721817
}

.center-text {
    text-align: center;
}

#logo {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

h2>span {
    color: #fa9f42;
    font-size: 0.75em;
}

#copyright {
    padding-top: 12px;
    font-size: 0.75em;
}